// MUDANÇAS NAS PAGINAS ESPECIFICAS
#home {
}
#pagina_sobre_v1 {
    .menu {
        .menu-central {
            position: relative;
            background-color: #ea5b0c;
            padding-bottom: 16px;
            &:after {
                content: none;
            }
        }
    }
}
#contato {
}
#sobre {
}
