.modulo_15 {
    position: relative;
    @include padding;
    @include padding-lateral;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-height: 421px) {
        @media (max-height: 695px) {
            height: 445px !important;
        }
    }
    .btn-1 {
        margin-top: 24px;
        @include btn-1;
    }
    .bloco-1 {
        .icone {
            margin: 10px 0;
        }
    }
}
