.modulo_15 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include res-sm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-1 {
        margin-top: 24px;
        @include btn-1;
    }
    .bloco-1 {
        padding: 15px;
        @include res-md {
            @include padding-lateral;
        }
        .icone {
            margin: 10px 0;
        }
    }
}
