.modulo_01 {
    .slick-dots {
        bottom: 30px;
        @include dots-1;
    }
    .slick-1 {
        margin-bottom: 0;
    }
    .item {
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        @media (min-width: 1366px) {
            height: 80vh;
            display: flex;
            align-items: flex-start;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 6px;
            width: 0;
            background-color: #ea5b0c;
            transition: linear;
            @include res-md {
                height: 3px;
            }
        }
        &.ativo {
            &:after {
                width: 100%;
            }
        }
    }
}
